<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="response.list" class="list">Response List</a></li>
    </ul>
</div>
<div id="create-response" class="content scaffold-create" role="main">
    <h1>Create Response</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="saveResponse" ng-submit="vm.saveResponse()">
        <fieldset class="form">
            <ng-include src="'/sol/response/form.html'"></ng-include>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" name="create" class="save" value="Create" />
        </fieldset>
    </form>
</div>