<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="response.list" class="list">Response List</a></li>
    </ul>
</div>
<div id="edit-response" class="content scaffold-edit" role="main">
    <h1>Edit Response</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="updateResponse" ng-submit="vm.updateResponse()">
        <fieldset class="form">
            <ng-include src="'/sol/response/form.html'"></ng-include>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" value="Update" />
        </fieldset>
    </form>
</div>