<fieldset class="form">
  <div class="fieldcontain required">
    <label for="content">Content
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="content" id="content" ng-model="vm.response.content" type="text" maxlength="65535" />
  </div>
</fieldset>