<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="response.create" class="create">New Response</a></li>
    </ul>
</div>
<div id="list-response" class="content scaffold-list" role="main">
    <h1>Response List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Content</th>
      <th>Votes</th>
      <th>Last Updated</th>
      <th>Date Created</th>
      <th>Question</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="response in vm.responseList">
      <td>
        <a ui-sref="response.show({id: response.id})">{{response.id}}</a>
      </td>
      <td>
        <span>{{response.content}}</span>
      </td>
      <td>
        <ul>
          <li ng-repeat="vote in response.votes">
            <a ui-sref="vote.show({id: vote.id})">{{vote.toString()}}</a>
          </li>
        </ul>
      </td>
      <td>
        <span>{{response.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
      <td>
        <span>{{response.dateCreated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
      <td>
        <a ui-sref="question.show({id: response.question.id})">{{response.question.toString()}}</a>
      </td>
      <td>
        <a ui-sref="appUser.show({id: response.user.id})">{{response.user.toString()}}</a>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>