<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a class="list" ui-sref="response.list" class="list">Response List</a></li>
        <li><a class="create" ui-sref="response.create" class="create">New Response</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Response</h1>
    <ol class="property-list response">
  <li class="fieldcontain">
    <span id="content-label" class="property-label">Content</span>
    <div class="property-value" aria-labelledby="content-label">
      <span>{{vm.response.content}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="votes-label" class="property-label">Votes</span>
    <div class="property-value" aria-labelledby="votes-label">
      <ul>
        <li ng-repeat="vote in vm.response.votes">
          <a ui-sref="vote.show({id: vote.id})">{{vote.toString()}}</a>
        </li>
      </ul>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="lastUpdated-label" class="property-label">Last Updated</span>
    <div class="property-value" aria-labelledby="lastUpdated-label">
      <span>{{vm.response.lastUpdated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="dateCreated-label" class="property-label">Date Created</span>
    <div class="property-value" aria-labelledby="dateCreated-label">
      <span>{{vm.response.dateCreated | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="question-label" class="property-label">Question</span>
    <div class="property-value" aria-labelledby="question-label">
      <a ui-sref="question.show({id: vm.response.question.id})">{{vm.response.question.toString()}}</a>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="user-label" class="property-label">User</span>
    <div class="property-value" aria-labelledby="user-label">
      <a ui-sref="appUser.show({id: vm.response.user.id})">{{vm.response.user.toString()}}</a>
    </div>
  </li>
</ol>
    <form ng-submit="vm.delete()">
        <fieldset class="buttons">
            <a class="edit" ui-sref="response.edit({id: vm.response.id})">Edit</a>
            <input class="delete" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
        </fieldset>
    </form>
</div>