<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="appUser.list" class="list">AppUser List</a></li>
    </ul>
</div>
<div id="create-appUser" class="content scaffold-create" role="main">
    <h1>Create AppUser</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="saveAppUser" ng-submit="vm.saveAppUser()">
        <fieldset class="form">
            <div class="fieldcontain required">
                <label for="username">Username
                    <span class="required-indicator">*</span>
                </label>
                <input required="" name="username" id="username" ng-model="vm.appUser.username" type="text" />
            </div>
            <div class="fieldcontain required">
                <label for="email">Email
                    <span class="required-indicator">*</span>
                </label>
                <input required="" name="email" id="email" ng-model="vm.appUser.email" type="text" />
            </div>
            <div class="fieldcontain required">
                <label for="password">Password
                    <span class="required-indicator">*</span>
                </label>
                <input required="" name="password" id="password" ng-model="vm.appUser.password" type="password" />
            </div>
            <!--<div class="fieldcontain required">
                <label for="confirmPassword">Confirm Password
                    <span class="required-indicator">*</span>
                </label>
                <input required="" name="confirmPassword" id="confirmPassword" ng-model="vm.appUser.confirmPassword" type="password" />
            </div>-->
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" name="create" class="save" value="Create" />
        </fieldset>
    </form>
</div>