<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="appUser.list" class="list">AppUser List</a></li>
    </ul>
</div>
<div id="edit-appUser" class="content scaffold-edit" role="main">
    <h1>Edit AppUser</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="updateAppUser" ng-submit="vm.updateAppUser()">
        <fieldset class="form">
            <!--<div class="fieldcontain">
                <label for="newEmail">Email</label>
                <input name="newEmail" id="newEmail" ng-model="vm.appUser.newEmail" type="text" />
            </div>
            <div class="fieldcontain">
                <label for="newPassword">Password</label>
                <input name="newPassword" id="newPassword" ng-model="vm.appUser.newPassword" type="password" />
            </div>
            <div class="fieldcontain">
                <label for="confirmPassword">Confirm Password</label>
                <input name="confirmPassword" id="confirmPassword" ng-model="vm.appUser.confirmPassword" type="password" />
            </div>
            <div class="fieldcontain required">
                <label for="oldPassword">Password
                    <span class="required-indicator">*</span>
                </label>
                <input required="" name="oldPassword" id="oldPassword" ng-model="vm.appUser.oldPassword" type="password" />
            </div>-->
            <div class="fieldcontain">
                <label for="email">Email</label>
                <input name="email" id="email" ng-model="vm.appUser.email" type="text" />
            </div>
            <div class="fieldcontain">
                <label for="password">Password</label>
                <input name="password" id="password" ng-model="vm.appUser.password" type="password" />
            </div>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" value="Update" />
        </fieldset>
    </form>
</div>