<fieldset class="form">
  <div class="fieldcontain required">
    <label for="password">Password
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="password" id="password" ng-model="vm.appUser.password" type="password" />
  </div>
  <div class="fieldcontain required">
    <label for="username">Username
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="username" id="username" ng-model="vm.appUser.username" type="text" />
  </div>
  <div class="fieldcontain required">
    <label for="email">Email
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="email" id="email" ng-model="vm.appUser.email" type="text" />
  </div>
  <div class="fieldcontain">
    <label for="accountLocked">Account Locked</label>
    <input name="accountLocked" id="accountLocked" ng-model="vm.appUser.accountLocked" ng-init="vm.appUser.accountLocked = false" type="checkbox" />
  </div>
  <div class="fieldcontain">
    <label for="accountExpired">Account Expired</label>
    <input name="accountExpired" id="accountExpired" ng-model="vm.appUser.accountExpired" ng-init="vm.appUser.accountExpired = false" type="checkbox" />
  </div>
  <div class="fieldcontain">
    <label for="userBadges">User Badges</label>
    <a ui-sref="appUserBadge.create({userId: vm.appUser.id})">Add AppUserBadge</a>
  </div>
  <div class="fieldcontain">
    <label for="originatedVotes">Originated Votes</label>
    <a ui-sref="vote.create({originatorUserId: vm.appUser.id})">Add Vote</a>
  </div>
  <div class="fieldcontain">
    <label for="passwordExpired">Password Expired</label>
    <input name="passwordExpired" id="passwordExpired" ng-model="vm.appUser.passwordExpired" ng-init="vm.appUser.passwordExpired = false" type="checkbox" />
  </div>
  <div class="fieldcontain">
    <label for="posts">Posts</label>
    <a ui-sref="post.create({userId: vm.appUser.id})">Add Post</a>
  </div>
  <div class="fieldcontain">
    <label for="enabled">Enabled</label>
    <input name="enabled" id="enabled" ng-model="vm.appUser.enabled" ng-init="vm.appUser.enabled = false" type="checkbox" />
  </div>
</fieldset>