<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
    </ul>
</div>
<div id="list-appUser" class="content scaffold-list" role="main">
    <h1>AppUser List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Account Locked</th>
      <th>Account Expired</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{'even': $index%2 == 0, 'odd': $index%2 == 1}" ng-repeat="appUser in vm.appUserList">
      <td>
        <a ui-sref="appUser.show({id: appUser.id})">{{appUser.id}}</a>
      </td>
      <td>
        <span>{{appUser.username}}</span>
      </td>
      <td>
        <span>{{appUser.email}}</span>
      </td>
      <td>
        <span>{{appUser.accountLocked}}</span>
      </td>
      <td>
        <span>{{appUser.accountExpired}}</span>
      </td>
    </tr>
  </tbody>
</table>
    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>