<div id="show-part" class="content scaffold-show" role="main">
  
  <h1>Show AppUser</h1>
  
  <ol class="property-list appUser">
    <li class="fieldcontain">
      <span id="username-label" class="property-label">Username</span>
      <div class="property-value" aria-labelledby="username-label">
        <span>{{vm.appUser.username}}</span>
      </div>
    </li>
    
    <li class="fieldcontain">
      <span id="email-label" class="property-label">Email</span>
      <div class="property-value" aria-labelledby="email-label">
        <span>{{vm.appUser.email}}</span>
      </div>
    </li>
    
    <li class="fieldcontain">
      <span id="userBadges-label" class="property-label">User Badges</span>
      <div class="property-value" aria-labelledby="userBadges-label">
		<span>{{vm.appUser.userBadges.length}}</span>
      </div>
    </li>
    
    <li class="fieldcontain">
      <span id="originatedVotes-label" class="property-label">Originated Votes</span>
      <div class="property-value" aria-labelledby="originatedVotes-label">
		<span>{{vm.appUser.originatedVotes.length}}</span>
      </div>
    </li>
    
    <li class="fieldcontain">
      <span id="posts-label" class="property-label">Posts</span>
      <div class="property-value" aria-labelledby="posts-label">
		<span>{{vm.appUser.posts.length}}</span>
      </div>
    </li>
  </ol>

  <form ng-submit="vm.delete()" ng-if="indexCtrl.currentUser != null && (indexCtrl.currentUser.sub == vm.appUser.username || indexCtrl.currentUserHasRole('ROLE_ADMIN'))">
    <fieldset class="buttons">
      <a class="edit" ui-sref="appUser.edit({id: vm.appUser.id})">Edit</a>
      <input class="delete" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
    </fieldset>
  </form>

</div>