<div id="create-question" class="content scaffold-create" role="main">
    <h1>Create Question</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="saveQuestion" ng-submit="vm.saveQuestion()">
        <fieldset class="form">
            <ng-include src="'/sol/question/form.html'"></ng-include>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" name="create" class="save" value="Create" />
        </fieldset>
    </form>
</div>