<div id="edit-question" class="content scaffold-edit" role="main">
    <h1>Edit Question</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="updateQuestion" ng-submit="vm.updateQuestion()">
        <fieldset class="form">
            <ng-include src="'/sol/question/form.html'"></ng-include>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" class="save" value="Update" />
        </fieldset>
    </form>
</div>