<fieldset class="form">
  <div class="fieldcontain required">
    <label for="title">Title
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="title" id="title" ng-model="vm.question.title" type="text" maxlength="140" />
  </div>
  <div class="fieldcontain required">
    <label for="content">Content
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="content" id="content" ng-model="vm.question.content" type="text" maxlength="65535" />
  </div>
  <div class="fieldcontain">
    <label for="tags">Tags</label>
	<div ng-switch="vm.tagList.length != 0">
	  <div ng-switch-when="true">
	    <select name="tags" id="tags" ng-model="vm.question.tags" ng-options="option.title for option in vm.tagList track by option.id" multiple>
	    </select>
	  </div>
	  <div ng-switch-when="false">
		<em>No tag defined.</em>
	  </div>
	</div>
  </div>
</fieldset>