
<div id="content" role="main">
    <section class="row colset-2-its">
        <h1>Questions</h1>
		
		<p ng-repeat="q in vm.questions">
			{{q.id}} <a ui-sref="question.show({id: q.id})">{{q.title}}</a> (By {{q.user.username}})
		</p>
		<p>
			<a ui-sref="question.create">Create</a>
		</p>
    </section>
</div>