<div id="content" role="main">
    <section class="row colset-2-its">
        <h1>{{vm.question.title}}</h1>
        <span>Vote : {{vm.computeVoteScore(vm.question)}}</span>
        <p>
            {{vm.question.content}}
        </p>
        <p>
			<em>Tags: 
			<span ng-repeat="t in vm.question.tags">
				<a ui-sref="tag.show({id: t.id})">{{t.title}}</a>
			</span>
			</em>
		</p>
        <span ng-if="vm.question.dateCreated.getTime() === vm.question.lastUpdated.getTime()"> 
        	Posted on {{vm.question.dateCreated.toLocaleString()}}
        </span>
        <span ng-if="vm.question.dateCreated.getTime() !== vm.question.lastUpdated.getTime()"> 
        	Edited on {{vm.question.lastUpdated.toLocaleString()}}
        </span>
		by <a ui-sref="appUser.show({id: vm.question.user.id})">{{vm.question.user.username}} (reput. {{vm.question.user.reputation}} - badges {{vm.question.user.userBadges.length}})</a>
		<div ng-if="indexCtrl.currentUser != null">
			<a ng-if="indexCtrl.currentUser.sub == vm.question.user.username || indexCtrl.currentUserHasRole('ROLE_ADMIN')" ui-sref="question.edit({id: vm.question.id})">Edit</a>
			<a ng-if="indexCtrl.currentUser.sub == vm.question.user.username && vm.question.responses.length == 0 || indexCtrl.currentUserHasRole('ROLE_ADMIN')" ng-click="vm.delete()" class="clickable">Delete</a>
		</div>
      	
      	<hr>

        <h1>{{vm.question.responses.length}} Answers</h1>
		<div ng-if="indexCtrl.currentUser != null && indexCtrl.currentUserHasRole('ROLE_USER')">
			<a ui-sref="response.create({questionId: vm.question.id})">Answer</a>
		</div>
		<div style="margin-bottom:10px;border: 1px solid black;border-radius: 25px;padding:15px;" ng-repeat="r in vm.question.responses | orderBy:'+':false:vm.compareVoteScore">
        	<span>Vote : {{vm.computeVoteScore(r)}}</span>
			<p>
				{{r.content}}
			</p>
			<span ng-if="r.dateCreated.getTime() === r.lastUpdated.getTime()"> 
	        	Posted on {{r.dateCreated.toLocaleString()}}
	        </span>
	        <span ng-if="r.dateCreated.getTime() !== r.lastUpdated.getTime()"> 
	        	Edited on {{r.lastUpdated.toLocaleString()}}
	        </span>
			by <a ui-sref="appUser.show({id: r.user.id})">{{r.user.username}} (reput. {{r.user.reputation}} - badges {{r.user.userBadges.length}})</a>
			<div ng-if="indexCtrl.currentUser != null">
				<a ng-if="indexCtrl.currentUser.sub == r.user.username || indexCtrl.currentUserHasRole('ROLE_ADMIN')" ui-sref="response.edit({id: r.id})">Edit</a>
				<a ng-if="indexCtrl.currentUser.sub == r.user.username || indexCtrl.currentUserHasRole('ROLE_ADMIN')" ng-click="vm.deleteResponse(r)" class="clickable">Delete</a>
			</div>
		</div>
    </section>
</div>