<div class="svg" role="presentation">
    <div class="grails-logo-container">
        <image src="/assets/grails-cupsonly-logo-white.svg" class="grails-logo"/>
    </div>
</div>

<div id="content" role="main">
    <section class="row colset-2-its">
        <h1>Login</h1>
        <p id="error"></p>

        <p>
            Login : <input type="text" name="username" ng-model="loginCtrl.user.username"/>
        </p>
        <p>
            Password : <input type="password" name="password" ng-model="loginCtrl.user.password"/>
        </p>

        <p>
            <button type="button" ng-click="loginCtrl.login()">Login</button>
        </p>
    </section>
</div>