<fieldset class="form">
  <div class="fieldcontain required">
    <label for="title">Title
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="title" id="title" ng-model="vm.tag.title" type="text" maxlength="30" />
  </div>
  <div class="fieldcontain required">
    <label for="desc">Desc
      <span class="required-indicator">*</span>
    </label>
    <input required="" name="desc" id="desc" ng-model="vm.tag.desc" type="text" maxlength="140" />
  </div>
</fieldset>