<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
		<li ng-if="indexCtrl.currentUser != null && indexCtrl.currentUserHasRole('ROLE_ADMIN')"><a ui-sref="tag.create" class="create">New Tag</a></li>
    </ul>
</div>
<div id="list-tag" class="content scaffold-list" role="main">
    <h1>Tags</h1>
	<p ng-repeat="tag in vm.tagList">
		<a ui-sref="tag.show({id: tag.id})">{{tag.title}} (× {{tag.questions.length}})</a> - {{tag.desc}}
	</p>

    <!--    <div class="pagination">
            <g:paginate total="${partCount ?: 0}" />
        </div>-->
</div>