<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a class="list" ui-sref="tag.list" class="list">Tag List</a></li>
        <li ng-if="indexCtrl.currentUser != null && indexCtrl.currentUserHasRole('ROLE_ADMIN')"><a class="create" ui-sref="tag.create" class="create">New Tag</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">

	<h1>{{vm.tag.title}}</h1>
	<p>{{vm.tag.desc}}</p>
	
	<h2>Questions</h2>
	<div ng-switch="vm.tag.questions.length != 0">
		<div ng-switch-when="true">
			<em>{{vm.tag.questions.length}} questions</em>
			<!--<p ng-repeat="question in vm.tag.questions">
				<a ui-sref="question.show({id: question.id})">{{question.title}}</a>
			</p>-->
		</div>
		<div ng-switch-when="false">
			<em>None</em>
		</div>
	</div>
	
    <form ng-if="indexCtrl.currentUser != null && indexCtrl.currentUserHasRole('ROLE_ADMIN')" ng-submit="vm.delete()">
        <fieldset class="buttons">
            <a class="edit" ui-sref="tag.edit({id: vm.tag.id})">Edit</a>
            <input class="delete" type="submit" value="Delete" onclick="return confirm('Are you sure?');" />
        </fieldset>
    </form>
</div>